<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/web.css">
    <link rel="stylesheet" href="/bootstrap-4/css/bootstrap.css">

</head>
<style>
    .pic4{
        width: 100px;
        height: 100px;
        margin-top: -50px;
        border-radius: 50%;
        margin-left: 70px;
    }
</style>
<body>
<%- include('../layout/nav.html'); %>
<div class="all_four   mt-2 "style="width:1200px;margin: 0 auto" >
    <div class="card  me float-left " style="width:905px">
        <h5 class="card-header">简介
        </h5>
        <div class="card-body float-left" style="border-bottom: #f2dede 1px solid">
            <img src="/uploads/<%=data.articles[0].pic%>" class="mr-5 float-left" alt="..." style="width: 100px">
            <h5 class="card-title"><%=data.articles[0].title%></h5>
            <p class="card-text text-decoration-none" style="font-size:medium;width: 763px" > <%=data.articles[0].content%></p>
            <span>已有<%=data.articles[0].views%>人围观</span>
            <!--            <a href="#" class="btn btn-primary " style="margin-left: 550px">阅读更多</a>-->
        </div>
    </div>
    <div class="card float-right sticky-top" style="width: 18rem;">
        <img src="/images/tu2.png" class="card-img-top" style="height:170px " alt="...">
        <img src="/uploads/<%=data.art.pic%>" class="card-img-top  pic4"  alt="...">
        <div class="card-body">
            <h5 class="card-title">用户信息</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">博客名：<%=data.art.username%></li>
            <li class="list-group-item">现居：<%=data.art.adress%></li>
            <li class="list-group-item">职业：<%=data.art.job%></li>
            <li class="list-group-item">email：<%=data.art.email%></li>
        </ul>
    </div>
</div>



</body>

<script src="/bootstrap-4/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap-4/js/bootstrap.js"></script>
<script src="/javascripts/marked.min.js"></script>
<script type="text/javascript">
    $(function() {

        $("#content").html(
            marked($("#contents").text(

            ))
        );
    });
</script>
</html>