<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/web.css">
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.css">
</head>
<body>
<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <img src="images/1.png" height="50px" width="50px"/>
    <a class="navbar-brand" href="#">佳狗的日常</a>
    <div style="margin: 0 auto">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" style="color:#6f42c1 !important">
                <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">长沙</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">上海</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./users/js">南昌</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">杭州</a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="请输入内容" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
    <a class="navbar-brands" href="#">登录</a>
    <a class="navbar-brands" href="#">注册</a>
</div>
</body>
<script src="bootstrap-4/js/jquery-3.4.1.min.js"></script>
<script src="bootstrap-4/js/bootstrap.js">
</script>
</html>